
@{
    ViewData["Title"] = "AddUser";
}

<h1> User Added: </h1><br />
<p> Welcome @ViewData["FirstName"] @ViewData["LastName"]</p><br />
<p> Username: @ViewData["UserName"]</p><br />
<p> PhoneNumber: @ViewData["PhoneNumber"] </p><br />
<p> Gender: @ViewData["Gender"]</p><br />
<p> Height: @ViewData["Height"]</p><br />
<p> Weight: @ViewData["Weight"]</p><br />



